.card {
  background-color: #eeeeee;
  margin: 20px;
}

.card-header {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-icon {
    font-size: 40px;
}

hr {
    border: 1px dashed #dddddd;
    margin-top: -20;
    margin-left: 20px;
    margin-right: 20px;
}

.card-content {
    padding: 20px;    
}
